:local(.testimonials) {
  padding: 0;

  .container {
    position: relative;
    height: 315px;
    padding: 50px 0;
  }

  .testimonial {
    position: absolute;
    top: 50px;
    bottom: 50px;
    left: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: opacity 1200ms ease;
    opacity: 0;
    z-index: 1;

    @include tablet {
      justify-content: center;
    }

    &.active {
      z-index: 2;
      opacity: 1;
    }

    blockquote {
      font-size: 14px;
      line-height: 19px;
      text-align: center;
      font-weight: 300;
      margin: 0;
      margin-bottom: 23px;

      @include tablet {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 25px;
      }

      @include desktop-1280 {
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
      }
    }

    .meta {
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;

      .thumb {
        background-repeat: no-repeat;
        background-size: cover;
        display: inline-block;
        width: 40px;
        height: 40px;
        border-radius: 40px;
        line-height: 40px;
        overflow: hidden;
        margin-right: 13px;
        text-align: center;
        font-size: 15px;
        color: #fff;
        font-weight: 300;

        @include tablet {
          width: 60px;
          height: 60px;
          border-radius: 60px;
          line-height: 60px;
          font-size: 24px;
          margin-right: 20px;
        }
      }

      .function {
        font-size: 12px;
        font-weight: 400;
        opacity: 0.37;
        display: inline-block;

        @include mobile {
          flex: 1;
          text-align: left;
        }

        @include tablet {
          font-size: 16px;
        }
      }
    }
  }
}
